@font-face {
  font-family: 'Made Evolve Sans Light';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/MADE-EvolveSansLight.otf");
}
@font-face {
  font-family: 'MADE Evolve Bold';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/MADEEvolveSansBoldEVO.otf");
}